* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.clear{
    clear: both;
}
.row{
    margin-left: -8px;
    margin-right: -8px;


}
.col{

    float: left;
    padding-left: 8px;
    padding-right: 8px;
    


}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

#main{

    background-color: rgb(252, 225, 230);

}

#header{

    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;



}
#nav{
    display: inline-block;

}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;

}
#nav li{
    position: relative;

}
#nav > li > a{
    color: white;
    text-transform: uppercase;

}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding-left: 24px;
    padding-right: 24px;
    display: block;
    
}
#nav > li:hover > a{
    color: black;
    background-color: pink;
    cursor: pointer;


}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav {
    position: absolute;
    background-color: pink;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 160px;


    
}
#nav .subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 40px;
    
    
}

#nav .subnav :hover{

    background-color: rgb(248, 210, 216);
    cursor: pointer;

}
.searchbtn {
    float: right;
}
.searchbtn .search-icon{
    color:#fff;
    line-height: 46px;
    padding: 16px 25px;
}
.searchbtn .search-icon:hover{
    background-color: pink;
    color: black;
    cursor: pointer;
}
#slider{

    margin-top: 46px;
    background-color: pink;
    padding-top: 38%;
    background: url('../img/1.png') top center / cover no-repeat;
    position: relative;

}
#slider .text-content{
    position: absolute;
    bottom: 20px;
    color: pink;
    background-color: rgba(3, 3, 3, 0.8);
    left: 50%;
    transform: translateX(-50%);
    padding: 2%;
    text-align: center;
}

#content{

}
#content .content-section{
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
}
#content .section-heading, #content .section-subheading {
    text-align: center;

}
#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
#content .section-subheading{
    font-size: 15px;
    margin: 25px 0px;
    font-style: italic;
}
#content .about-text{
    text-align: justify;
    line-height:1.5rem ;


}
#content .member-list{
    margin-top: 48px ;
}
#content .member-item{
    float: left;
    width: 25%;
    text-align: center;


}
#content .member-name{
    margin: 15px 0px;
    font-weight: bold;
    

}
#content .member-avt{
    width: 90%;
    border: 2px solid #000;
    border-radius: 4%;
}

.tour-section{
    background-color: #000;
    color: #fff;
}
.ticket-list{
    margin-top: 40px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;



}
.ticket-list li{
    padding: 10px 0px;
    margin-left: 15px;
    list-style-type: none;
    border-bottom:1.5px solid #ccc;

}
.ticket-list .sold-out{
    background-color: red;
    color: #fff;
    border-radius: 2px;
    padding: 3px 2px;
}
.ticket-list .sold-out,
.ticket-list .quantity{
    float: right;
    margin-right: 30px;
}
.ticket-list .quantity{
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;

}


.places-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;

    

}
.place-item{
    color: #000;
    width: calc(100%/3);
    float: left;
    padding: 0px 8px;
    


}
.place-item .place-img{
    width: 100%;
    display: block;
}
.place-item .place-img:hover{
    opacity: 0.6;
}

.place-content{
    background-color: #fff;
    text-align: center;
    padding: 12px;


}

.place-time{
    font-size: 12px;
    margin-top: 10px;
}
.place-des{
    font-size: 14px;
    margin: 15px 5px 15px 5px;
    text-align: justify;
    line-height: 1.4;


    


}
.place-buy-btn{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 10px;
    

}
.place-buy-btn:hover{
    background-color: pink;
    color: #000;
}

#footer{

}
.modal.open{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.6);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

}

.close-btn {
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 3px;
    color: #000;
    font-weight: bolder;

}
.close-btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.modal-container {

    background-color: #000;
    min-height: 200px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;

}
.modal-header {
    text-align: center;
    background-color: rgb(243, 140, 157);
    padding: 20px 0px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 5px;
    color: #000;


}

.modal-body {
    margin: 30px 20px;
    line-height: 40px;

}
.modal-label {
    display: flex;
    margin-bottom: -10px;

}
.ti-shopping-cart, .ti-email  {
    margin-right: 10px;
    margin-top: 10px;


}
.modal-input {
    background-color: rgb(248, 210, 216);
    border-radius: 4px;
    border: none;
    min-height: 30px;
    width: 100%;
    color: black;
    padding-left: 10px;
}

#buy-ticket{
    margin: 30px 0px;
    min-height: 40px;
    width: 100%;
    background-color: rgb(243, 140, 157);
    border-radius: 4px;
    border: none;
    font-weight: bolder;

    

}
#buy-ticket:hover{
    background-color: #524f51;
    color: #fff;
    cursor: pointer;
}
.modal-footer{
    margin-bottom: 20px;
    float: right;
    margin-right: 20px;

}
@keyframes modalFadeIn{
    from {
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
}

.contact-info{
    line-height: 35px;

}
.ti-map-alt,.ti-mobile,.ti-email{
    margin-right: 5px;
    font-size: larger;
}

.info-input{
    min-height: 40px;

}

.mess-input{
    min-height: 40px;
    margin-top: 20px;
    padding: 5px;
    width: 100%;

}

.send-btn{
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    border: none;
    float: right;
    margin-right: 2px;
}
.send-btn:hover{
    background-color: rgb(254, 137, 157);
    color: #000;
    cursor: pointer;
}

.map{
    margin-top: 60px;
    width: 100%;
}
#footer .social{
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    text-decoration: none;

}

#footer .social a{
    text-decoration: none;
}
.ti-instagram,
.ti-google,
.ti-twitter-alt,
.ti-pinterest-alt,
.ti-linkedin{
    color: #000;
    padding: 5px;

}
.ti-instagram:hover,
.ti-google:hover,
.ti-twitter-alt:hover,
.ti-pinterest-alt:hover,
.ti-linkedin:hover{
    color: rgb(247, 140, 158);
}


#footer .power{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}
 @media(min-width: 740px ) and (max-width:1024px){
    #content .content-section{
        width: 80%;

    }
    .modal-container{
        width: 70%;
    }
    #header .mobile-menu{
        display: none;
    }


 }
 @media (min-width: 1024px){
    #content .content-section{
        width: 65%;
    }
    .modal-container{
        width: 50%;
    }
    #header .mobile-menu{
        display: none;
    }
 }
 @media(max-width: 740px){
    #content .content-section{
        width: 90%;
    }
    .modal-container{
        width: 90%;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;


    }
    #nav .subnav{
        position: initial;
        padding-left: 16px;
    }
    #nav li a{
        line-height: 48px;

    }
    #header{
        overflow: hidden;
    }
    #header .searchbtn{
        display: none;
    }
    #header .mobile-menu{
        color: #fff;
        float: right;
        padding: 0 15px;
        font-size: 20px;
        line-height: 46px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #header .mobile-menu:hover{
        color: #000;
        background-color: pink;
    }
   
    #content .member-item{
        margin-top: 40px;
        width: 50%;
        

        
    }
    #content .place-item{
        width: 100%;
        margin-bottom: 30px;
    }
    .col-full-m{
        width: 100%;
    }
    .contact-info,.contact-info-input{
        margin-top: 32px;
        
    }
    .place-buy-btn{
        width: 100%;
    }
    .send-btn{
        width: 100%;
    }




 }

